{% extends "finance_app/base.html" %}

{% block title %}Expense List{% endblock title %}

{% block head %}
<style>
    
  .button {
      border: 0;
      background: #191919;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
      text-decoration: none; 
      width:250px;
  }

  .button:hover {
      background: #2ecc71;
  }

</style>
{% endblock head %}

{% block body %}

  <div class="container">
    <h1>Expense List</h1>

    <!-- Date Range Filter -->
    <form method="GET">
      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
      
      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
      <br>
      <button type="submit">Apply Filter</button>

      <a href="http://127.0.0.1:8000/expense_list" class="btn btn-secondary">Clear Filter</a>
  </form>
  

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.description }}</td>
                    <td>Rs.{{ expense.amount }}</td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No Expense records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!-- Add the image tag to display the Matplotlib plot -->
    <img src="data:image/png;base64,{{ plot_image }}" alt="Spending by Category"> 
    
    <img src="data:image/png;base64,{{ img_data_pie }}" alt="Spending by Category">
    <br>
    <br>

   

  <!-- Expense Summary -->
<div>
    <h2>Expense Summary</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>Total Income</th>
          <th>Total Expenses</th>
          <th>Total Savings</th>
        </tr> 
      </thead> 
      <tbody>
        <tr>
          <td>Rs.{{ total_income }}</td>
          <td>Rs.{{ total_expenses }}</td> 
          <td>Rs.{{ total_savings }}</td>   
        </tr>
      </tbody>  
    </table>
</div>
  
  <!-- Total Expenses Per Category-->
<div>
    <h1>Total Expenses Per Category</h1>
    <table class="table">
      <thead>
          <tr>
              <th>Category</th>
              <th>Amount</th>
          </tr>
      </thead>
      <tbody>
          {% for category_total in category_totals %}
              <tr>
                  <td>{{ category_total.category|capfirst }}</td>
                  <td>Rs.{{ category_total.total_amount }}</td>    
              </tr>
          {% empty %}
              <tr>
                  <td colspan="2">No Expense records found.</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
  

  <!-- Add Expense -->
  <a href="{% url 'add_expense' %}" class="button-link">
    <div class="button">
        Add Expense
    </div>
</a>
<!--
  <h2><a href="{% url 'add_expense' %}">Add Expense</a></h2>
-->
{% endblock body %}
